.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color:black;
    color:white;
}
.navbar-default .navbar-nav>li>a{
    color:white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:white;
}
body{
    background-color:maroon;
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color:white;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    background-color: #323232;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    background-color: #323232;
}
.navbar-default .navbar-brand{
    background-color:black;
}